@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
  @apply text-sm;
  @apply antialiased;
}

.leaflet-container {
  background: #262626 !important;
}

.leaflet-popup-content {
  margin: 0 !important;
}

.leaflet-popup-content-wrapper {
  background: transparent !important;
}

.custom-pulse-icon {
  width: 40px;
  height: 40px;
  position: relative;
  background: transparent;
  z-index: 99999999 !important;
}

.custom-pulse-icon::before {
  content: '';
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.custom-pulse-icon.user-location::before {
  background: #ffbb00;
  width: 14px;
  height: 14px;
}

.custom-pulse-icon.user-location::after {
  background: rgba(255, 219, 121, 0.776);
}

.custom-pulse-icon::before {
  background: #ffffff;
  width: 10px;
  height: 10px;
}

.custom-pulse-icon::after {
  background: rgba(255, 255, 255, 0.3);
}

.custom-pulse-icon::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: pulse-ring 2.5s ease-out infinite;
  z-index: 1;
}

.custom-pulse-icon::after {
  background: rgba(255, 255, 255, 0.3);
}

@keyframes pulse-ring {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

.leaflet-popup-pane {
  z-index: 1000 !important;
}

.leaflet-popup {
  margin-bottom: 20px !important;
  left: 10px !important;
  z-index: 100 !important;
}

.leaflet-popup-tip-container {
  height: 26px !important;
  left: 10px !important;
}

.leaflet-popup-tip {
  background: transparent !important;
  box-shadow: none !important;
  height: 30px !important;
  width: 1.5px !important;
  margin: 0 auto !important;
  border-radius: 1px;
  border: none !important;
  background: lightgray !important;
  transform: rotate(0deg) !important;
  padding: 0 !important;

  opacity: 0 !important;
}

.leaflet-popup-close-button {
  color: #ffffffe1 !important;  
  font-size: 18px !important;
  font-weight: 100 !important;
  width: 16px !important;
  height: 16px !important;
  line-height: 16px !important;
  margin: 5px !important;
  background: rgba(255, 0, 0, 0.3) !important;
  border-radius: 5% !important;
}

.leaflet-popup-close-button:hover {
  background: rgba(255, 0, 0, 0.5) !important;
}

.custom-user-location {
  background: #007bff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid white;
}

.marker-label-icon {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  color: white;
  padding: 5px 12px;
  padding-right: 30px;
  width: auto !important;
  font-size: 16px;
  height: auto !important;
  white-space: nowrap;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.marker-small-label-icon {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  color: white;
  padding: 4px 12px;
  width: auto !important;
  font-size: 12px;
  height: auto !important;
  white-space: nowrap;
  box-shadow: 0 0px 2px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.recharts-surface {
  outline: none;
}

/* Menu Button Styles */
.menu-button {
  @apply p-1 text-white cursor-pointer transition-transform;
}

/* Icon Styles */
.icon {
  @apply w-4 h-4 hover:scale-110;
}

/* Menu Items Container Styles */
.menu-items {
  @apply bg-black/20 backdrop-blur-md p-1 text-xs/5 text-white transition duration-100 ease-out focus:outline-none border border-white/5 rounded-md w-28;
}

/* Menu Item Styles */
.menu-item {
  @apply px-2 py-1 cursor-pointer rounded-md;
}

/* Active Menu Item Styles */
.menu-item-active {
  @apply bg-white/5;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  font-family: 'Inter', sans-serif;
}

@font-face {
  font-family: 'Futura';
  src: url('/assets/fonts/futura.ttc') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.futura {
  font-family: 'Futura', sans-serif;
}

.animate-blink {
    animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* Scrolls */
.scrollbar-track-x,
.scrollbar-thumb-x {
  height: 5px !important;
}

.scrollbar-track-y,
.scrollbar-thumb-y {
  width: 5px !important;
}

.tracks-hidden.scrollbar-track-x,
.tracks-hidden.scrollbar-track-y,
.tracks-hidden.scrollbar-thumb-x,
.tracks-hidden.scrollbar-thumb-y {
  opacity: 0 !important;
  width: 0 !important;
}

.scroll-content:hover ~ .scrollbar-track {
  opacity: 1;
}

.scrollbar-track-x,
.scrollbar-track-y {
  background: #1a1a1a !important;
}

.scrollbar-thumb-x,
.scrollbar-thumb-y {
  background: #404040 !important;
}

.scrollbar-thumb-x:hover,
.scrollbar-thumb-y:hover {
  background: #555555 !important;
}

.cesium-widget-credits {
  display: none !important;
}

/* Monaco Editor Background */
.monaco-editor,
.monaco-editor .margin,
.monaco-editor-background,
.monaco-editor .minimap,
.monaco-editor .minimap-background {
  background: transparent !important;
}

:root {
  color-scheme: dark;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent; /* IMPORTANT */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.3);
  border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}